# Configuration template for the 'pppoe' module.
# You can set these environment variables using either of the following methods:
# 1. Create a '.env' file in this module directory and copy the variables below into it.
# 2. Pass them directly when executing run.sh (e.g. BW_PPPOE_USERNAME=user ./run.sh ...)

# PPPoE WAN Configuration
# Set the ISP PPPoE dial-up username and password
BW_PPPOE_USERNAME=
BW_PPPOE_PASSWORD=
